header {
    position: fixed;
    height: 100px;
    z-index: 10;

    img {
        width: 80px;
        height: 80px;
    }

    a {
        text-decoration: none;
        color: var(--cor-preto);
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: clamp(18px, 12vw, 20px);
    }
}

main {
    width: 100vw;

    section {
        width: 100vw;
        min-height: 100vh;
    }
}

/* MAIN */
.main {
    user-select: none;  

    .folhinha-1 {
        width: clamp(110px, 12vw, 200px);
        height: clamp(110px, 12vw, 200px);
        transform: rotateZ(-126deg);
        position: absolute;
        top: 60vh;
        left: -3vw;
    }

    .folhinha-2 {
        width: clamp(30px, 12vw, 120px);
        height: clamp(30px, 12vw, 120px);
        transform: rotateZ(40deg) rotateY(180deg);
        position: absolute;
        top: 17vh;
        left: 30vw;
        z-index: 2;
    }

    .folhinha-3 {
        width: clamp(20px, 10vh, 110px);
        height: clamp(20px, 10vh, 110px);
        transform: rotateZ(130deg);
        position: absolute;
        top: 25vh;
        right: 7vw;
    }

    .main-cachorro {
        width: clamp(350px, 60vw, 700px);
        height: clamp(350px, 60vw, 700px);
        position: absolute;
        left: calc(100vw/2 - clamp(350px, 60vw, 700px)/2);
        bottom: 0%;
        z-index: 2;
    }

    .main-title {
        position: absolute;
        left: calc((50vw - clamp(50px, 12vw, 210px)/2) - 25vw);
        bottom: clamp(50%, 12vw, 35%);
        font-size: clamp(50px, 12vw, 210px);
        background-image: linear-gradient(to right, #2BB84C, #135222);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        span {
            width: 240px;
        }
    }

    .main-subtitle {
        position: absolute;
        left: calc((100vw/2 - clamp(50px, 12vw, 210px)/2) - 10vw);
        bottom: 5vw;
        font-size: clamp(50px, 12vw, 210px);
        background-image: linear-gradient(to right, #6D4AFF, #C9B4FF, #6D4AFF);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        z-index: 2;
    }

    .main-badge-1 {
        position: absolute;
        bottom: 25vh;
        right: 20vw;
        font-family: "Montserrat", sans-serif;
        font-weight: 700 !important;
        font-size: clamp(12px, 1vw, 18px) !important;
    }

    .main-badge-2 {
        position: absolute;
        bottom: 38vh;
        left: 15vw;
        font-family: "Montserrat", sans-serif;
        font-weight: 700 !important;
        font-size: clamp(12px, 1vw, 18px) !important;
    }

    .main-badge-3 {
        position: absolute;
        top: 20vh;
        left: 13vw;
        font-family: "Montserrat", sans-serif;
        font-weight: 700 !important;
        font-size: clamp(12px, 1vw, 18px) !important;
    }
}

/* ADOÇÃO */

.adoption {
    position: relative;

    .adoption-botoes {
        z-index: 2;
        position: absolute;
        top: 50%;

        button {
            width: 66px;
            height: 66px;
            border: none;
            border-radius: 10px;
            background-color: var(--cor-primaria);
            transition: 250ms ease-out;

            &:last-of-type {
                img {
                    transform: rotateZ(180deg);
                }
            }

            &:hover {
                background-color: #E7E7E7;
            }
        }
    }

    .adoption-carousel {
        height: 100%;
    }

    .adoption-card {
        position: absolute;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        color: #FFFFFF;

        .adoption-card-infos {
            position: absolute;
            bottom: 10%;
            left: 10%;
            max-width: 500px;
            /* z-index: 2; */
        }
    }

    #carousel-1 {
        background-image: url('../imgs/luna.png');
    }

    #carousel-2 {
        background-image: url('../imgs/tobias.png');
    }
}

/* CAMPANHAS */

.campaigns {
    .campaign-title {
        color: var(--cor-secundaria);
        font-size: clamp(30px, 12vw, 40px);
    }

    #filtro-campanhas {
        .badge-arca {
            transition: .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);

            &:hover {
                cursor: pointer;
                transform: scaleX(1.08);
            }
        }
    }
}

/* ORGANIZAÇÕES */

.organizations {
    .organizations-title {
        color: var(--cor-terciaria);
        font-size: clamp(30px, 12vw, 40px);
    }

    #card-main {
        img {
            position: absolute; 
            width: 20%; 
            bottom: 0%; 
            right: 0%;
        }
    }

    #card-1 {
        width: 100%;

        img {
            position: absolute; 
            width: 20%; 
            bottom: 0%; 
            right: 0%;
        }
    }

    #card-2 {
        width: 100%;
    }

    #card-3 {
        width: 100%;

        img {
            position: absolute;
            width: 20%;
            bottom: 0%;
            left: 0%;
        }
    }
}

/* Breakpoints Forçados */

@media (max-width: 500px) {
    #card-3 {
        .botao-arca {
            font-size: 10px;
        }
    }
}

@media (min-width: 992px) { 
    .main-title {
        left: calc((50vw - clamp(50px, 12vw, 210px)/2) - 36vw) !important;
    }

    .organizations {
        position: relative;
        .org-container {
            max-width: 100%;
        }

        #card-main {
            min-height: 600px; 
            min-width: 350px;

            img {
                position: absolute; 
                width: 300px; 
                bottom: 0%; 
                right: 0%;
            }
        }

        #card-1 {
            min-height: 230px;
            min-width: 800px;

            img {
                position: absolute; 
                width: 300px; 
                bottom: 0%; 
                right: 0%;
            }
        }

        #card-2 {
            min-height: 80px;
            min-width: 800px;
        }

        #card-3 {
            min-height: 200px; 
            min-width: 800px;

            img {
                position: absolute;
                width: 300px;
                bottom: 0%;
                left: 0%;
            }
        }
    }
}


@media (min-width: 1400px) { 
    .main-title {
        left: calc(10vw + ((100vw - 1400px) * 0.25)) !important;
    } 
}

