header {
    box-sizing: border-box;
    width: calc(100% - 2rem);
    width: 100%;
    position: fixed;
    z-index: 10;

    img {
        height: 9.2vh;
    }

    a {
        text-decoration: none;
        color: var(--cor-preto-0);
        font-family: "Montserrat", sans-serif;
        font-weight: 620;
        font-size: clamp(1rem, 2.5vh, 1.3rem);
    }

    .menu-container {
        position: relative;
    }

    #menu-mobile {
        position: absolute;
        top: 100%;
        right: 0;

        margin-top: 10px;

        display: flex;
        flex-direction: column;
        gap: 10px;

        opacity: 0;
        visibility: hidden;
        pointer-events: none;

        transform: translateX(20px);

        transition:
            opacity 0.3s ease,
            transform 0.3s ease,
            visibility 0.3s ease;
    }

    #menu-mobile.aberto {
        display: flex;
        opacity: 1;
        visibility: visible;
        pointer-events: auto;

        transform: translateX(0);
    }
}

main {
    width: 100%;
    height: 100%;

    section {
        width: 100%;
        min-height: 100dvh;
    }
}

/* MAIN */
.main {
    user-select: none;  

    .folhinha-1 {
        width: clamp(110px, 12vw, 200px);
        height: clamp(110px, 12vw, 200px);
        transform: rotateZ(-126deg);
        position: absolute;
        top: 60%;
        left: -3%;
    }

    .folhinha-2 {
        width: clamp(30px, 12vw, 120px);
        height: clamp(30px, 12vw, 120px);
        transform: rotateZ(40deg) rotateY(180deg);
        position: absolute;
        top: 17%;
        left: 30%;
        z-index: 2;
    }

    .folhinha-3 {
        width: clamp(20px, 10vh, 110px);
        height: clamp(20px, 10vh, 110px);
        transform: rotateZ(130deg);
        position: absolute;
        top: 25vh;
        right: 7vw;
    }

    .main-cachorro {
        height: clamp(350px, 40vw, 47rem);
        position: absolute;
        left: 50%;
        transform: translateX(-52%);
        bottom: 0px;
        z-index: 2;
    }

    .main-title {
        position: absolute;
        top: 34%;
        left: 50%;
        transform: translateX(-50%);
        height: clamp(4rem, 18vh, 12rem);
    }

    .main-title-mobile {
        position: absolute;
        width: 100%;
        padding: 0 2rem 0 2rem;
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
    }

    .main-subtitle {
        position: absolute;
        bottom: 8%;
        height: clamp(4rem, 20vh, 12rem);
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
    }

    .main-badge-1 {
        position: absolute;
        bottom: 25vh;
        right: 20vw;
        font-family: "Montserrat", sans-serif;
        font-weight: 700 !important;
        font-size: clamp(12px, 1vw, 18px) !important;
    }

    .main-badge-2 {
        position: absolute;
        bottom: 38vh;
        left: 15vw;
        font-family: "Montserrat", sans-serif;
        font-weight: 700 !important;
        font-size: clamp(12px, 1vw, 18px) !important;
    }

    .main-badge-3 {
        position: absolute;
        top: 20vh;
        left: 13vw;
        font-family: "Montserrat", sans-serif;
        font-weight: 700 !important;
        font-size: clamp(12px, 1vw, 18px) !important;
    }
}

/* ADOÇÃO */

.adoption {
    position: relative;

    .adoption-botoes {
        z-index: 2;
        position: absolute;
        top: 50%;

        button {
            width: 66px;
            height: 66px;
            border: none;
            border-radius: 10px;
            background-color: var(--cor-primaria);
            transition: 250ms ease-out;

            &:last-of-type {
                img {
                    transform: rotateZ(180deg);
                }
            }

            &:hover {
                background-color: #E7E7E7;
            }
        }
    }

    .adoption-carousel {
        height: 100%;
    }

    .adoption-card {
        position: absolute;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        color: #FFFFFF;
        animation: fadeCard 0.5s ease-out;

        .adoption-card-infos {
            position: absolute;
            bottom: 10%;
            left: 10%;
            max-width: 500px;
            /* z-index: 2; */
        }
    }

    #carousel-1 {
        background-image: url('../imgs/luna.png');
    }

    #carousel-2 {
        background-image: url('../imgs/tobias.png');
    }
}

/* KEYFRAMES */
@keyframes fadeCard {
    from {
        opacity: 0.8;
        transform: scale(0.99);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* CAMPANHAS */

.campaigns {
    .campaign-title {
        color: var(--cor-secundaria);
        font-size: clamp(30px, 12vw, 2.2rem);
    }

    #filtro-campanhas {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .badge-arca {
            transition: .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);

            &:hover {
                cursor: pointer;
                transform: scaleX(1.08);
            }
        }
    }
}

/* ORGANIZAÇÕES */

.organizations {
    .organizations-title {
        color: var(--cor-terciaria);
        font-size: clamp(30px, 12vw, 2.3rem);
    }

    #card-main {
        img {
            position: absolute; 
            width: 20%; 
            bottom: 0%; 
            right: 0%;
        }
    }

    #card-1 {
        width: 100%;

        img {
            position: absolute; 
            width: 20%; 
            bottom: 0%; 
            right: 0%;
        }
    }

    #card-2 {
        width: 100%;
    }

    #card-3 {
        width: 100%;

        img {
            position: absolute;
            width: 20%;
            bottom: 0%;
            left: 0%;
        }
    }
}

/* Breakpoints Forçados */

@media (max-width: 500px) {
    #card-3 {
        .botao-arca {
            font-size: 10px;
        }
    }
}

@media (max-width: 767.98px) { 
    .main { 
        position: relative;
        overflow-x: hidden;
        height: 100dvh;
        .main-cachorro {
            height: clamp(350px, 88vh, 30rem);
            overflow: hidden;
        }
    }

    .adoption {
        .adoption-card {
            .adoption-card-infos {
                left: 0%;
                margin: 0 2rem;
            }
        }
    }

    .botao-arca {
        padding-left: 2rem;
        padding-right: 2rem;
    }

}

@media (min-width: 992px) { 
    .organizations {
        position: relative;
        .org-container {
            max-width: 100%;
        }

        #card-main {
            min-height: 600px; 
            min-width: 350px;

            img {
                position: absolute; 
                width: 300px; 
                bottom: 0%; 
                right: 0%;
            }
        }

        #card-1 {
            min-height: 230px;
            min-width: 800px;

            img {
                position: absolute; 
                width: 300px; 
                bottom: 0%; 
                right: 0%;
            }
        }

        #card-2 {
            min-height: 80px;
            min-width: 800px;
        }

        #card-3 {
            min-height: 200px; 
            min-width: 800px;

            img {
                position: absolute;
                width: 300px;
                bottom: 0%;
                left: 0%;
            }
        }
    }
}


@media (min-width: 768) { 
    .menu-mobile {
        display: block;
    }
}

